
auto-py-to-exe
autopep8
bcrypt
blinker
brlapi
certifi
chardet
click
colorama
command-not-found
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
django-on-heroku
duplicity
fasteners
gunicorn
html5lib
idna

language-selector
launchpadlib
lockfile
louis
macaroonbakery
mako
monotonic
more-itertools
netifaces
olefile
openpyxl
paramiko
pip-chill
pycups
pygobject
pyjwt
pymacaroons
pynacl
pyrfc3339
python-apt
python-debian
python-decouple
pyxdg
pyyaml
reportlab
requests-unixsocket

simplejson


systemd-python

ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
urllib3
usb-creator

xkit
